[Oo]bj/
[Bb]in/
csx/
rcf/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
artifacts/*
msbuild.log
PublishProfiles/
node_modules/*
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
*.dbmdl
*.orig
signalr.log.txt
*.log4net.log*
Payboard.Web/Scripts/Payboard/*.js
Payboard.Web/Scripts/Payboard/*.map
Payboard.Web/Widget/v1.0/*.js
Payboard.Web/Widget/v1.0/*.map
node_modules/
Payboard.Web/Widget/v1.0/Overloads/PacSci.js.map
